.App {
 box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  min-height: 85vh;
  display: flex;
  justify-content: space-around;
  padding-top: 15vh;
}

.form {
  position: fixed;
  left: 0;
  padding: 8px 16px;
}

.form-input, .form-select {
  padding: 6px 12px;
  min-width: 150px;
  margin-bottom: 8px;
  display: block;
}

.form-select {
  min-width: 184px;
}

.form-button {
  width: 184px;
  padding: 8px 16px;
  background: #487ce4;
  color: white;
  border: none;
}

.sessions {
  position: fixed;
  right: 0;
  height: 100vh;
  border-left: thin solid #ccc;
  width: 200px;
}

.session {
  border-bottom: thin solid #ccc;
  padding: 6px 12px;
}

.graphs {
  background: white;
}